@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
